/* 
 * ie8.css - css styles for Win IE 8
 *
 */
#ie8
{
}
.ie 
{
}
#ie8 .DropDownBox
{
    width:256px;
    height:22px;
    font-size:12px;
}

#ie8 .DropDownBoxLogin
{
    width:217px;
    height:25px;
    line-height:25px;
    font-size:1.2em;
}
#ie8 .text-input
{
    width:209px;
}
#ie8 .txtBoxLogin
{
    width:150px;
}